/* Стили для всех .Arrowtriple */
.Arrowtriple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
}